# Config File for harvestOAI.pl
#
# option = value
# UMich Hathitrust
baseurl = http://quod.lib.umich.edu/cgi/o/oai/oai
set     = hathitrust
meta    = marc21
from    = 2016-05-27
until   = 2016-12-02
#baseurl = http://dcollections.bc.edu/OAI-PUB
#set     = bc:digcomm:mods01
#meta    = mods
#baseurl = http://dlib.bc.edu/oai2
#set     = bc-ir_GraduateThesesCollection
#meta    = marc21
